script(type="text/x-template", id="temp-upload")
  form
    label.upload-label Upload Photo
      input#upload-file(type='file', v-on='click: uploadFile')
  img#image-source(src='', alt='pic', v-style='width: width + "px", height: height + "px"', v-show='imgShow')
