include header
  block title
    title Color
    include ../components/upload/template
    include ../components/back/template
    #color-analysis
      #upload(v-class='load-enter: !isLoad, load-leave: isLoad')
        back-component
        header Color Analysis
        button(v-on='click: analysis') Start Analysis
        upload-component
        canvas#myCanvas(v-on='mousemove: pixelInfo($event)', v-show='canvasShow') Sorry
        div
          label.color-block(v-style='background-color: "rgb(" + r + "," + g + "," + b + ")"')
          label(v-text='pixelColor')
      .displaycolor
        .histogram(v-if='isLoad')
          canvas#histogram
          span 直方图
        .histogram(v-if='isLoad')
          canvas#histogram-equal
          span 直方图均衡化
        ul.color-frequency
          li(v-repeat='pixel: curPixels | sort')
            .color-info
              span rgb({{pixel.r}},{{pixel.g}},{{pixel.b}})
              span {{pixel.hsl}}
              span {{pixel.cmyk}}
            div.color-strip(v-style='background-color: "rgb(" + pixel.r + "," + pixel.g + "," + pixel.b + ")", width: pixel.n/topWidth + "%"')
    //footer @Ckitakishi
    script(src='js/color.js')
