doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title ColorAnalysis
    link(href='css/style.css', rel='stylesheet')
    script(src='/node_modules/vue/dist/vue.min.js')
    script(src='views/components/upload.js')
  body
    include components/upload
    #color-analysis
      #upload(v-class='load-enter: !isLoad, load-leave: isLoad')
        header Color Analysis
        button(v-on='click: analysis') Start Analysis
        upload-component
        canvas#myCanvas(v-on='mousemove: pixelInfo($event)', v-show='canvasShow') Sorry
        div
          label.color-block(v-style='background-color: "rgb(" + r + "," + g + "," + b + ")"')
          label(v-text='pixelColor')
      .displaycolor
        ul.color-frequency
          li(v-repeat='pixel: curPixels | sort') rgb({{pixel.r}},{{pixel.g}},{{pixel.b}}) -- {{pixel.n}}
            div.color-strip(v-style='background-color: "rgb(" + pixel.r + "," + pixel.g + "," + pixel.b + ")", width: pixel.n/topWidth + "%"')
    //footer @Ckitakishi
    script(src='js/color.js')
