doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    link(href='css/style.min.css', rel='stylesheet')
    link(rel="Shortcut Icon",href="/public/images/favicon.ico",type="image/x-icon")
    link(rel="stylesheet", href="/node_modules/font-awesome/css/font-awesome.min.css")
    script(src='/node_modules/vue/dist/vue.min.js')
    script(src='/node_modules/underscore/underscore-min.js')
    //script(src='/node_modules/mathjs/dist/math.min.js')
    script(src='js/components.js')
  body