doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    link(href='css/style.css', rel='stylesheet')
    link(rel="Shortcut Icon",href="/public/images/favicon.ico",type="image/x-icon")
    link(rel="stylesheet", href="/node_modules/font-awesome/css/font-awesome.min.css")
    script(src='/node_modules/vue/dist/vue.min.js')
    script(src='/node_modules/underscore/underscore-min.js')
    script(src='components/upload/index.js')
    script(src='components/back/index.js')
    script(src='components/modal/index.js')
    script(src='components/crop/index.js')
  body
