doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    link(href='css/style.css', rel='stylesheet')
    link(rel="Shortcut Icon",href="/public/images/favicon.ico",type="image/x-icon")
    script(src='/node_modules/vue/dist/vue.min.js')
    script(src='/node_modules/underscore/underscore-min.js')
    script(src='views/components/upload.js')
  body
