doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title SandPainting
    link(href='css/style.css', rel='stylesheet')
  body#index
    .choices
      a(href='/photo', class='photo') PHOTO
      a(href='/paint', class='paint') PAINT