doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title LightImage
    link(rel="Shortcut Icon",href="/public/images/favicon.ico",type="image/x-icon")
    link(href='css/style.css', rel='stylesheet')
    link(rel="stylesheet", href="/node_modules/font-awesome/css/font-awesome.min.css")
    script(src='/node_modules/vue/dist/vue.min.js')
  body#index
    .title
      span LightImage
    .menu
      #menu-container(v-style='width: w + "px"')
        a(href='/color', class='color-menu')
          span
            i(class="fa fa-area-chart")
        a(href='/photo', class='photo-menu')
          span
            i(class="fa fa-image")
        a(href='/paint', class='paint-menu')
          span
            i(class="fa fa-pencil")
        a(href='/about', class='about-menu')
          span
            i(class="fa fa-info")
    script.
      new Vue({
        el: '#index',
        data: {
          w: 0
        },
        computed: {
          w: function () {
            return document.getElementById("menu-container").offsetHeight;
          }
        }
      })
    script.
      // TODO: 优化
      window.onresize = function () {
        var container = document.getElementById("menu-container");
        container.style.width = container.offsetHeight + "px";
      }