doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title SandPainting
    //link(rel="Shortcut Icon",href="/public/images/favicon.ico",type="image/x-icon")
    link(href='css/style.css', rel='stylesheet')
  body#index
    .choices
      a(href='/photo', class='photo') PHOTO
      a(href='/color', class='color') Analysis Color
      a(href='/paint', class='paint') PAINT