include header
  block title
    title Paint
    include ../components/back/template
    #paint(v-on='mouseup: drawPathEnd')
      #paint-tool(v-class='load-enter: !isLoad, load-leave: isLoad')
        back-component
        header Paint
        button(v-on='click: paint', v-text='paintBtn')
        button(v-on='click: drawPixel', v-show='!isLoad') Draw Pixel Art
        .toolbar(v-show='isLoad')
          div
            .paint-color(v-repeat='color', v-on='click: paintColor(this)', v-style='background-color: "rgb(" + r + "," + g + "," + b + ")"')
          div(v-if='!drawPixel')
            button.paint-weight(v-repeat='weight', v-on='click: paintWeight(this)', v-text='$value')
          div(v-if='drawPixel')
            button.pixel-size(v-repeat='["16*16", "32*32", "48*48"]', v-on='click: pixelSize($index)', v-text='$value')
      .displaypaint(v-show='isLoad')
        // normal
        template(v-if='canvasShow && !drawPixel')
          canvas#myCanvas(
          v-on='mouseup: drawPathEnd, ' +
          'mousemove: drawPath($event), ' +
          'mousedown: drawPathStart($event), ' +
          'mouseleave: drawPathAbort, ' +
          'mouseenter: drawPathContinue($event)') Sorry
        // pixel
        template(v-if='canvasShow && drawPixel')
          canvas#pixelCanvas(
          v-on='mouseup: drawPathEnd, ' +
          'mousemove: pixel($event), ' +
          'mousedown: pixelStart($event)'
          ) Sorry
    script(src='js/paint.js')
