doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title Paint
    link(href='css/style.css', rel='stylesheet')
    script(src='/node_modules/vue/dist/vue.min.js')
    script(src='/node_modules/jquery/dist/jquery.min.js')
  body
    #paint(v-on='mouseup: drawPathEnd')
      #paint-tool(v-class='load-enter: !isLoad, load-leave: isLoad')
        header Paint
        button(v-on='click: paint', v-text='paintBtn')
        .toolbar(v-show='isLoad', v-on='click: undo')
          div
            .paint-color(v-repeat='color', v-on='click: paintColor(this)', v-style='background-color: "rgb(" + r + "," + g + "," + b + ")"')
          div
            button.paint-weight(v-repeat='weight', v-on='click: paintWeight(this)', v-text='$value')
      .displaypaint(v-show='isLoad')
        canvas#myCanvas(
        v-on='mouseup: drawPathEnd, ' +
        'mousemove: drawPath($event), ' +
        'mousedown: drawPathStart($event), ' +
        'mouseleave: drawPathAbort, ' +
        'mouseenter: drawPathContinue($event)',
        v-show='canvasShow') Sorry
    script(src='js/paint.js')
