doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title Photo
    link(href='css/style.css', rel='stylesheet')
    script(src='/node_modules/vue/dist/vue.min.js')
    script(src='/node_modules/jquery/dist/jquery.min.js')
    script(src='views/components/upload.js')
  body
    include components/upload
    #photo
      .displayphoto
      #upload
        header PHOTO
        upload-component
        button(v-on='click: analysis') Start Analysis
        canvas#myCanvas(v-show='canvasShow') Sorry
    script(src='js/photo.js')
