include header
  block title
    title Photo
    include components/upload/template
    include components/back/template
    #photo
      .displayphoto(v-show='isLoad')
        ul
          li.dir
            p 滤镜
            div(v-on='click: gray') gray
            div(v-on='click: blackwhite') blackwhite
            div(v-on='click: reversal') reversal
            div(v-on='click: emboss') emboss
            div(v-on='click: sharp') sharp
            div(v-on='click: blur') blur
          li.dir
            p 颜色
            div(v-on='click: green') green
            div(v-on='click: red')
          li.dir
            p 剪裁
            div(v-on='click: green') 分辨率降低
          li.dir
            p 旋转与对称
      #upload(v-class='load-enter: !isLoad, load-leave: isLoad')
        back-component
        header PHOTO
        upload-component
        canvas#myCanvas(v-show='canvasShow') Sorry
    script(src='js/photo.js')
