include header
  block title
    title Photo
    include components/upload/template
    include components/back/template
    include components/modal/template
    #photo
      .displayphoto(v-show='isLoad')
        modal-component(v-with='modalTitle: "Set Sizing"', v-if='modalShow')
        ul
          li.dir
            p 滤镜
            div(v-on='click: gray') gray
            div(v-on='click: blackwhite') blackwhite
            div(v-on='click: reversal') reversal
            div(v-on='click: emboss') emboss
            div(v-on='click: sharp') sharp
            div(v-on='click: blur') blur
            div(v-on='click: gaussianBlur') gaussianBlur
          li.dir
            p 颜色
            div(v-on='click: green') green
            div(v-on='click: red')
          li.dir
            p 处理
            div(v-on='click: cut') 剪裁
            div(v-on='click: sizing') 尺寸调整
          li.dir
            p 旋转与对称
            div(v-on='click: hSymmetry') Horizontal Symmetry
            div(v-on='click: vSymmetry') vertical Symmetry
            div(v-on='click: antiRotation') AntiRotation
            div(v-on='click: rotation') Rotation
            div(v-on='click: allRotation') 180 Rotation
      #upload(v-class='load-enter: !isLoad, load-leave: isLoad')
        back-component
        header PHOTO
        button#save(v-show='isLoad', v-on='click: save') Save Image
        upload-component
        .canvasContainer
          canvas#myCanvas(v-show='canvasShow') Sorry
    script(src='js/photo.js')
