/*base*/
a {
  text-decoration: none;
}

/*other*/
body#index {
  background-color: #ace9ce;
}

.choices {
  padding: 1em;
}

.photo,
.paint,
.color {
  display: block;
  width: 20%;
  margin: 1em auto;
  padding: 1em;
  border: 1px solid white;
  color: green;
  text-align: center;
}

.upload-label {
  position: absolute;
  width: 110px;
  height: 30px;
  padding: .5em;
  border: 1px solid #ababab;
  line-height: 30px;
}

#upload-file {
  opacity: 0;
}

#image-source {
  margin-top: 3em;
}

#photo-render,
#color-analysis {
  display: -webkit-flex;
  display: flex;
}

.displaypic,
#upload {
  -webkit-flex: 1;
  flex: 1;
}

.displaypic button {
  display: block;
  padding: .5em;
  border: 1px solid #ababab;
  background-color: white;
  line-height: 30px;
  font-size: 1em;
}
