/*base*/
html, body
{
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lucida Grande", "Helvetica Nueue", Arial, 微软雅黑, 冬青黑体, 宋体, sans-serif;
}

header {
  padding: 1em 0 .5em;
  text-align: center;
  font-size: 2em;
  color: white;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*upload*/
.upload-label {
  display: inline-block;
  width: 110px;
  height: 30px;
  padding: .5em;
  border: 1px solid white;
  color: white;
  line-height: 30px;
}

#upload-file {
  opacity: 0;
}

#upload,
#paint-tool {
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}

#upload button,
#paint-tool button {
  display: inline-block;
  padding: .5em;
  margin-bottom: 1em;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 1em;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

/*back*/
.back {
  display: block;
  width: 32px;
  height: 32px;
  margin: 4px;
}

.back:after {
  content: '';
  position: absolute;
  top: 4px;
  right: 4px;
  width: 32px;
  height: 5px;
  background: #fff;
  box-shadow: 0 10px 0 #fff, 0 20px 0 #fff;
}

#photo .back {
  float: right;
}

#photo .back:after {
  top: 4px;
  right: 4px;
}

#paint .back:after,
#color-analysis .back:after {
  top: 4px;
  left: 4px;
}

/*index*/
#index {
  padding: .6em;
  box-sizing: border-box;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-flex;
  display: flex;
  width: 30%;
  height: 30%;
  background-color: white;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 3em;
  box-sizing: border-box;
}

.menu {
  height: 100%;
}

.color-menu,
.photo-menu,
.paint-menu,
.about-menu {
  display: -webkit-flex;
  display: flex;
  height: 50%;
  width: 50%;
  border: .3em solid white;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: white;
  font-size: 2.4em;
  font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
  box-sizing: border-box;
}

.color-menu {
  background-color: #7ac043;
  float: left;
}

.photo-menu {
  margin-left: 50%;
  background-color: #ffd201;
}

.paint-menu {
  background-color: #0482c4;
  float: left;
}

.about-menu {
  margin-left: 50%;
  background-color: #f89ea4;
}

/*color*/
#color-analysis header {
  width: 100%;
  padding: 1em 0;
  background-color: #7ac043;
  box-sizing: border-box;
}

#color-analysis,
#photo,
#paint {
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

#color-analysis #upload {
  background-color: #7ac043;
}

.load-enter {
  width: 100%;
  -webkit-animation: load-enter 1s;
  animation: load-enter 1s;
}

.load-leave {
  -webkit-flex: 4;
  flex: 4;
  -webkit-animation: load-leave 1s;
  animation: load-leave 1s;
}

.displaycolor {
  -webkit-flex: 6;
  flex: 6;
}

.color-block {
  display: inline-block;
  width: 2em;
  height: 1em;
}

.color-frequency {
  margin: auto;
  padding: 0;
}

.color-frequency li {
  background-color: #efefef;
  margin: .5em;
  padding: .5em 1em;
}

.color-strip {
  height: 1.4em;
  box-sizing: border-box;
}


/*photo*/
#photo #upload {
  background-color: #ffd201;
  /*-webkit-flex: 4;*/
  /*flex: 4;*/
}

.displayphoto {
  -webkit-flex: 6;
  flex: 6;
  padding: 1em;
  box-sizing: border-box;
}

.dir {
  font-size: 1.4em;
  color: #a3a3a3;
  box-sizing: border-box;
}

.dir > p {
  padding: .5em 1em;
  border-left: 3px solid #ffd201;
  border-bottom: 1px solid #c3c3c3;
}

.dir > div {
  display: inline-block;
  width: 25%;
  height: 50px;
  border: 1px solid #d9d9d9;
  vertical-align: top;
  cursor: pointer;
  box-sizing: border-box;
}

/*paint*/
#paint-tool {
  background-color: #0482c4;
}

#paint #myCanvas {
  width: 100%;
  border: 1px solid black;
  cursor: pointer;
  box-sizing: border-box;
}

.displaypaint {
  -webkit-flex: 6;
  flex: 6;
  padding: 1em;
  box-sizing: border-box;
}

.toolbar > div:first-child {
  display: inline-block;
  width: 18em;
}

.paint-color {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.paint-weight {
  margin: .3em;
}

#pixelCanvas {
  margin: 1em;
  border: 12px solid #efefef;
  cursor: pointer;
  height: 480px;
  width: 480px;

  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

/*about*/

/*animation*/
@keyframes load-enter {
  0% {
    width: 50%;
    height: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@-webkit-keyframes load-enter {
  0% {
    width: 50%;
    height: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes load-leave {
  0% {
    -webkit-flex: 6;
    flex: 6;
  }
  100% {
    -webkit-flex: 4;
    flex: 4;
  }
}
@-webkit-keyframes load-leave {
  0% {
    -webkit-flex: 6;
    flex: 6;
  }
  100% {
    -webkit-flex: 4;
    flex: 4;
  }
}