doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title ColorAnalysis
    link(href='css/style.css', rel='stylesheet')
    script(src='/node_modules/vue/dist/vue.min.js')
    script(src='/node_modules/jquery/dist/jquery.min.js')
    script(src='views/components/upload.js')
  body
    include ../components/upload
    #color-analysis
      #upload
        upload-component
      .displaypic
        button(v-on='click: render') render
        canvas#myCanvas Sorry
    script(src='js/color.js')
