doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title
  body
    form
      input(type='file')
    canvas#myCanvas Sorry
    img#imageSource(src='q.png', alt='pic', width='400px', height='300px')
    script(src='photo.js')
