doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title Photo
  body
    form
      input(type='file')
    canvas#myCanvas Sorry
    img#imageSource(src='images/q.png', alt='pic', width='400px', height='300px')
    script(src='js/photo.js')
