script(type="text/x-template", id="temp-modal")
  .modal-container
    .modal
      .modal-header(v-text='modalTitle')
      .modal-body
        template(v-if='sizing')
          label.m-label
            span width
            input(type='text', v-model = "width")
            | px
          label.m-label
            span height
            input(type='text', v-model = "height")
            | px
        template(v-if='save')
          label.m-label
            span name
            input(type='text', v-model='imageName')
            | .{{imageType}}
          label.m-label
            span type
            select(v-model='imageType')
              option png
              option jpeg
      .modal-footer
        button(v-on='click: clickCancel') Cancel
        button(v-on='click: clickOK') OK